@bordercolour: #09305B!important;
@bordercolour2: #09305B!important;
@backgroundcolour: #0E3966!important;
@backgroundcolour2: red!important;
@backgroundcolour3: red!important;
@backgroundcolour4: white!important;
@contentbackground: #1F4872!important;
@textcolour: #68a0b1!important;
@textcolour2: black!important;
@textcolour3: black!important;
@textcolour4: black!important;
@textcolour5: black!important;
@highlightcolour: #cc0000!important;
@backgroundimage: url('images/back.png')!important;
@linkcolour: orange;
@visitedcolour: green;
@hovercolour: #ffcc00;
