@bordercolour: #000000;
@bordercolour2: #0066cc;
@backgroundcolour: white;
@backgroundcolour2: red;
@backgroundcolour3: red;
@backgroundcolour4: white;
@contentbackground: #dcdcdc;
@textcolour: black;
@textcolour2: black;
@textcolour3: black;
@textcolour4: black;
@textcolour5: black;
@highlightcolour: #cc0000;
@backgroundimage: none;
@linkcolour: blue;
@visitedcolour: purple;
@hovercolour: green;

/** 
 * Design elements for default Template
 *
 * @author Andreas Gohr <andi@splitbrain.org>
 * @author Anika Henke <henke@cosmocode.de>
 */

/* -------------- general elements --------------- */

* { padding: 0; margin: 0; }

body {
  font-size: 16px; 
  font-family: Bitstream Vera Sans, "Trebuchet MS", Verdana, Lucida, Helvetica, Arial, sans-serif;
  background-color: @backgroundcolour;
  color: @textcolour;
  background-image: @backgroundimage;
}

div.topholder{
 width: 100%; 
 height: 78px;
/* background-color: #ffcc00; */
}

div#shouting{
/* background-color: @bordercolour; */
}

div.pagename{
background-color: @contentbackground;
width: 500px; max-width: 100%;
box-sizing: border-box;
height: 80px;
padding: 4px;
border-style: solid;
border-width: 0px 15px;
border-color: @bordercolour;
float: left;
}

.bigtext{
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: 20px;
margin-right: 6px;
color: #cccccc;
background-color: #1D2E4F; 
border: 1px solid #000000;
}

.bigbutton{
font-family: Verdana, Arial, Helvetica, sans-serif; 
font-size: 24px; 
background-color: #2B374F; 
color: #cccccc;  
margin-right: 6px;
}

font.header{
font-size: 24px;
color: #0066cc;
}

p.smallthing{
font-size: 0.85em;
}

/* the document */
div.dokuwiki div.page {
  /* margin: 4px 2em 0 1em; */
  margin: 0px;
  padding: 0px;
  background-color: @contentbackground;
  border: 15px solid @bordercolour;
  text-align: justify;
}

div.rightbar{
  width: 250px;
  margin: 0px;
  padding: 0px;
  background-color: @contentbackground;
  border: 15px solid @bordercolour;
  text-align: justify;
  float: right;
}

div.dokuwiki table {
  font-size: 100%;
}

div.dokuwiki tr,
div.dokuwiki td,
div.dokuwiki th {
}

div.dokuwiki img {
  border: 0;
}

div.dokuwiki p,
div.dokuwiki blockquote,
div.dokuwiki table,
div.dokuwiki pre {
  margin: 0 0 1.0em 0;
}

div.dokuwiki hr {
  border: 0px;
  border-top: 1px solid @bordercolour;
  text-align: center;
  height: 0px;
}

div.dokuwiki div.nothing {
  text-align: center;
  margin: 2em;
}

/* ---------------- forms ------------------------ */

div.dokuwiki form {
  border: none;
  display: inline-block;
}

div.dokuwiki label.block {
  display: block;
  text-align: right;
  font-weight: bold;
}

div.dokuwiki label.simple {
  display: block;
  text-align: left;
  font-weight: normal;
}

div.dokuwiki label.block input.edit {
  width: 50%;
}

div.dokuwiki fieldset {
  width: 300px;
  text-align: center;
  border: 1px solid @bordercolour;
  padding: 0.5em;
  margin: auto;
}

div.dokuwiki textarea.edit {
  font-family: Trebuchet MS;
  font-size: 16px;
  color: #3D6976;
  background-color: #fff;
  border: 1px solid @bordercolour;
  padding: 0.3em 0 0 0.3em;
  width: 100%;
}

/* nice alphatransparency background except for IE <7 */
html>body div.dokuwiki textarea.edit {
  background:  #fff url(images/inputshadow.png) repeat-x top;
}

div.dokuwiki input.edit,
div.dokuwiki select.edit {
  font-size: 100%;
  border: 1px solid @bordercolour;
  color: @textcolour;
  background-color: #fff;
  vertical-align: middle;
  margin: 1px;
  padding: 0.20em 0.3em;
  display: inline;
}

/* nice alphatransparency background except for IE <7 */
html>body div.dokuwiki input.edit,
html>body div.dokuwiki select.edit {
  background:  #fff url(images/inputshadow.png) repeat-x top;
}

div.dokuwiki select.edit {
  padding: 0.1em 0;
}

div.dokuwiki input.missing {
  font-size: 100%;
  border: 1px solid @bordercolour;
  color: @textcolour;
  background-color: #ffcccc;
  vertical-align: middle;
  margin: 1px;
  padding: 0.20em 0.3em;
  display: inline;
}

/* disabled style - not understood by IE */
div.dokuwiki textarea.edit[disabled],
div.dokuwiki textarea.edit[readonly],
div.dokuwiki input.edit[disabled],
div.dokuwiki input.edit[readonly],
div.dokuwiki select.edit[disabled] {
  background-color: @backgroundcolour2!important;
  color: @textcolour2!important;
}

/* edit form */
div.dokuwiki div.toolbar,
div.dokuwiki div#wiki__editbar {
   margin: 2px 0;
   text-align: left;
}
div.dokuwiki div#size__ctl {
   float: right;
   width: 60px;
   height: 2.7em;
}
div.dokuwiki #size__ctl img {
   cursor: pointer;
}
div.dokuwiki div#wiki__editbar div.editButtons {
   float: left;
   padding: 0 1.0em 0.7em 0;
}
div.dokuwiki div#wiki__editbar div.summary {
   float: left;
}
div.dokuwiki .nowrap {
   white-space: nowrap;
}
div.dokuwiki div#draft__status {
  float: right;
  color: @textcolour3;
}

/* --------- buttons ------------------- */


div.dokuwiki input.button, .buttonstyle,
div.dokuwiki button.button {
  border: 1px solid @bordercolour2;
  color: @textcolour;
 /* background-color: #fff; */
   background-color: @bordercolour2;
  vertical-align: middle;
  text-decoration: none;
  font-size: 100%;
  cursor: pointer;
  margin: 1px;
  display: inline-block;
  padding: 0.125em 0.4em;
}

/* nice alphatransparency background except for IE <7 */
html>body div.dokuwiki input.button, .buttonstyle,
html>body div.dokuwiki button.button {
  background:  #fff url(images/buttonshadow.png) repeat-x bottom; 
}

* html div.dokuwiki input.button,
* html div.dokuwiki button.button {
  height: 1.8em;
}

div.dokuwiki div.secedit input.button {
  border: 1px solid @bordercolour;
  color: @textcolour;
  background-color: #fff;
  vertical-align: middle;
  text-decoration: none;
  margin: 0;
  padding: 0;
  font-size: 10px;
  cursor: pointer;
  float: right;
  display: inline;
}

/* ----------- page navigator ------------- */

div.dokuwiki div.pagenav {
    margin: 1em 0 0 0;
}

div.dokuwiki div.pagenav-prev {
    text-align: right;
    float: left;
    width: 49%
}

div.dokuwiki div.pagenav-next {
    text-align: left;
    float: right;
    width: 49%
}

/* --------------- Links ------------------ */

 a:link{
  color: @linkcolour;
  text-decoration: none;
}

a:visited{
   color: @visitedcolour;
  text-decoration: none;
}
 a:hover,
 a:active {
  color: @hovercolour;
  text-decoration: underline;
}

 h1 a,
 h2 a,
 h3 a,
 h4 a,
 h5 a,
 a.nolink {
  color: #0066cc !important;
  text-decoration: none !important;
}

/* external link */
 a.urlextern {
  background: transparent url(images/link_icon.gif) 0px 1px no-repeat;
  color: #336633;
  padding: 1px 0px 1px 16px;
}

/* windows share */
 a.windows {
  background: transparent url(images/windows.gif) 0px 1px no-repeat;
  padding: 1px 0px 1px 16px;
}

/* ------------- Page elements ----------------- */

div.dokuwiki div.preview {
  background-color: @backgroundcolour2;
  margin: 0 0 0 2em;
  padding: 4px;
  border: 1px dashed @textcolour;
}

div.dokuwiki div.breadcrumbs {
  background-color: @backgroundcolour2;
  color: @textcolour2;
  font-size: 80%;
  padding: 0 0 0 4px;
}

div.dokuwiki span.user {
  color: @textcolour4;
  font-size: 90%;
}

div.dokuwiki li.minor {
  color: @textcolour2;
  font-style: italic;
}

/* embedded images */
div.dokuwiki img.media {
  margin: 3px;
}

div.dokuwiki img.medialeft {
  border: 0;
  float: left;
  margin: 0 1.5em 0 0;
}

div.dokuwiki img.mediaright {
  border: 0;
  float: right;
  margin: 0 0 0 1.5em;
}

div.dokuwiki img.mediacenter {
  border: 0;
  display: block;
  margin: 0 auto;
}


/* smileys */
div.dokuwiki img.middle {
  vertical-align: middle;
}

div.dokuwiki acronym {
  cursor: help;
  border-bottom: 1px dotted @textcolour;
}

/* general headline setup */
div.dokuwiki h1,
div.dokuwiki h2,
div.dokuwiki h3,
div.dokuwiki h4,
div.dokuwiki h5 {
    color: @textcolour;
    background-color: inherit;
    font-size: 100%;
    font-weight: normal;
    margin: 0 0 1em 0;
    padding: 0.5em 0 0 0;
    border-bottom: 2px dotted @bordercolour2;
    clear: left;
}

/* special headlines */
div.dokuwiki h1 {font-size: 160%; margin-left: 0px; font-weight: bold;}
div.dokuwiki h2 {font-size: 150%; margin-left: 20px;}
div.dokuwiki h3 {font-size: 140%; margin-left: 40px; border-bottom: none; font-weight: bold;}
div.dokuwiki h4 {font-size: 120%; margin-left: 60px; border-bottom: none; font-weight: bold;}
div.dokuwiki h5 {font-size: 100%; margin-left: 80px; border-bottom: none; font-weight: bold;}

/* indent different sections */
div.dokuwiki div.level1 {margin-left: 3px;}
div.dokuwiki div.level2 {margin-left: 23px;}
div.dokuwiki div.level3 {margin-left: 43px;}
div.dokuwiki div.level4 {margin-left: 63px;}
div.dokuwiki div.level5 {margin-left: 83px;}

/* unordered lists */
div.dokuwiki ul {
  line-height: 1.5em;
  list-style-type: square;
  list-style-image: none;
  margin: 0 0 0.5em 1.5em;
  color: @textcolour3;
}

/* ordered lists */
div.dokuwiki ol {
  line-height: 1.5em;
  list-style-image: none;
  margin: 0 0 0.5em 1.5em;
  color: @textcolour3;
  font-weight: bold;
}

/* the list items overriding the ul/ol definition */
div.dokuwiki .li {
  color: #b8b8b8;
  font-weight: normal;
}

div.dokuwiki ol {list-style-type: decimal}
div.dokuwiki ol ol {list-style-type: upper-roman}
div.dokuwiki ol ol ol {list-style-type: lower-alpha}
div.dokuwiki ol ol ol ol {list-style-type: lower-greek}

div.dokuwiki li.open {
  list-style-image: url(images/open.gif);
    /*list-style-type: circle;*/
}

div.dokuwiki li.closed {
  list-style-image: url(images/closed.gif);
    /*list-style-type: disc;*/
}

div.dokuwiki blockquote {
  border-left: 2px solid @bordercolour;
  padding-left: 3px;
}

div.dokuwiki pre {
  font-size: 120%;
  padding: 0.5em;
  border: 1px dashed @bordercolour;
  color: @textcolour;
  overflow: auto;
}

/* code blocks by indention */
div.dokuwiki pre.pre {
  background-color: @backgroundcolour3;
}

/* code blocks by code tag */
div.dokuwiki pre.code {
  background-color: @backgroundcolour3;
}

/* inline code words */
div.dokuwiki code {
  font-size: 120%;
}

/* code blocks by file tag */
div.dokuwiki pre.file {
  background-color: @backgroundcolour4;
}

/* inline tables */
div.dokuwiki table.inline {
  background-color: #fff;
  border-spacing: 0px;
  border-collapse: collapse;
}

div.dokuwiki table.inline th {
  padding: 3px;
  border: 1px solid @bordercolour;
  background-color: @backgroundcolour4;
}

div.dokuwiki table.inline td {
  padding: 3px;
  border: 1px solid @bordercolour;
}

/* ---------- table of contents ------------------- */

/* ---------- table of contents ------------------- */

div.dokuwiki #dw__toc {
  margin: 1.2em 0 0 2em;
  float: right;
  width: 200px;
  /* font-size: 80%; */
  font-size: 1.15em;
  clear: both;
}

div.dokuwiki #dw__toc h3 {
  border: 1px solid @bordercolour;
  background-color: @backgroundcolour4;
  text-align: left;
  font-weight: bold;
  padding: 3px;
  margin: 0 0 2px 0;
  font-size: 1em;
}

div.dokuwiki .toggle strong {
    border: 0.4em solid @backgroundcolour4;
    float: right;
    display: block;
    margin: 0.4em 3px 0 0;
}

div.dokuwiki .toggle span {
    display: none;
}

div.dokuwiki .toggle.closed strong {
    margin-top: 0.4em;
    border-top: 0.4em solid @textcolour;
}

div.dokuwiki .toggle.open strong {
    margin-top: 0;
    border-bottom: 0.4em solid @textcolour;
}

div.dokuwiki #dw__toc > div {
  border: 1px solid @bordercolour;
  background-color: #fff;
  text-align: left;
  padding: 0.5em 0 0.7em 0;
}

div.dokuwiki #dw__toc ul {
  list-style-type: none;
  list-style-image: none;
  line-height: 1.2em;
  padding-left: 1em;
  margin: 0;
}

div.dokuwiki #dw__toc ul li {
  background: transparent url(images/tocdot2.gif) 0 0.6em no-repeat;
  padding-left: 0.4em;
}

div.dokuwiki #dw__toc ul li.clear {
  background-image: none;
  padding-left: 0.4em;
}

div.dokuwiki #dw__toc a:link,
div.dokuwiki #dw__toc a:visited {
  color: @textcolour5;
}

div.dokuwiki #dw__toc a:hover,
div.dokuwiki #dw__toc a:active {
  color: @textcolour;
}


div.dokuwiki div.toc {
  margin: 1.2em 0 0 2em;
  float: right;
  width: 200px;
  font-size: 80%;
  clear: both;
}

div.dokuwiki div.tocheader {
  border: 1px solid @bordercolour;
  background-color: @backgroundcolour4;
  text-align: left;
  font-weight: bold;
  padding: 3px;
  margin-bottom: 2px;
}

div.dokuwiki span.toc_open,
div.dokuwiki span.toc_close {
    border: 0.4em solid @backgroundcolour4;
    float: right;
    display: block;
    margin: 0.4em 3px 0 0;
}

div.dokuwiki span.toc_open span,
div.dokuwiki span.toc_close span {
    display: none;
}

div.dokuwiki span.toc_open {
    margin-top: 0.4em;
    border-top: 0.4em solid @textcolour;
}

div.dokuwiki span.toc_close {
    margin-top: 0;
    border-bottom: 0.4em solid @textcolour;
}

div.dokuwiki #toc__inside {
  border: 1px solid @bordercolour;
  background-color: #fff;
  text-align: left;
  padding: 0.5em 0 0.7em 0;
}

div.dokuwiki ul.toc {
  list-style-type: none;
  list-style-image: none;
  line-height: 1.2em;
  padding-left: 1em;
  margin: 0;
}

div.dokuwiki ul.toc li {
  background: transparent url(images/tocdot2.gif) 0 0.6em no-repeat;
  padding-left: 0.4em;
}

div.dokuwiki ul.toc li.clear {
  background-image: none;
  padding-left: 0.4em;
}

div.dokuwiki a.toc:link,
div.dokuwiki a.toc:visited {
  color: @textcolour5;
}

div.dokuwiki a.toc:hover,
div.dokuwiki a.toc:active {
  color: @textcolour;
}

/* ---------------------------- Diff rendering --------------------------*/
div.dokuwiki table.diff {
  background-color: #fff;
  width: 100%;
}
div.dokuwiki td.diff-blockheader {
  font-weight: bold;
}
div.dokuwiki table.diff th {
  border-bottom: 1px solid @bordercolour;
  font-size: 120%;
  width: 50%;
  font-weight: normal;
  text-align: left;
}
div.dokuwiki table.diff td {
  font-family: monospace;
  font-size: 100%;
}
div.dokuwiki td.diff-addedline {
  background-color: #ddffdd;
}
div.dokuwiki td.diff-deletedline {
    background-color: #ffffbb;
}
div.dokuwiki td.diff-context {
    background-color: @backgroundcolour2;
}
div.dokuwiki table.diff td.diff-addedline strong,
div.dokuwiki table.diff td.diff-deletedline strong {
    color: red;
}

/* --------------------- footnotes -------------------------------- */

div.dokuwiki div.footnotes {
  clear: both;
  border-top: 1px solid @bordercolour;
  padding-left: 1em;
  margin-top: 1em;
}

div.dokuwiki div.fn {
  font-size: 90%;
}

div.dokuwiki a.fn_bot {
  font-weight: bold;
}

/* insitu-footnotes */
div.insitu-footnote {
  font-size: 80%;
  line-height: 1.2em;
  border: 1px solid @bordercolour;
  background-color: @backgroundcolour3;
  text-align: left;
  padding: 4px;
  max-width: 40%;    /* IE's width is handled in javascript */
}

/* overcome IE issue with one line code or file boxes which require h. scrolling */
* html .insitu-footnote pre.code,
* html .insitu-footnote pre.file {
  padding-bottom: 18px;
}

/* --------------- search result formating --------------- */
div.dokuwiki .search_result {
  margin-bottom: 6px;
  padding: 0 10px 0 30px;
}

div.dokuwiki .search_snippet {
  color: @textcolour4;
  font-size: 12px;
  margin-left: 20px;
}

div.dokuwiki .search_sep {
  color: @textcolour;
}

div.dokuwiki .search_hit {
  color: @textcolour;
  background-color: @highlightcolour;
}
div.dokuwiki strong.search_hit {
  font-weight: normal;
}

div.dokuwiki div.search_quickresult {
  margin: 0 0 15px 30px;
  padding: 0 10px 10px 0;
  border-bottom: 1px dashed @bordercolour;
}
div.dokuwiki div.search_quickresult h3 {
  margin: 0 0 1.0em 0;
  font-size: 1em;
  font-weight: bold;
}

div.dokuwiki ul.search_quickhits {
  margin: 0 0 0.5em 1.0em;
}

div.dokuwiki ul.search_quickhits li {
  margin: 0 1.0em 0 1.0em;
  float:left;
  width: 30%;
}

/* ------------------ Additional ---------------------- */

div.footerinc {
    text-align: center;
}
.footerinc a img {
    opacity: 0.5;
    border: 0;
}

.footerinc a:hover img {
    opacity: 1;
}

/* ---------- AJAX quicksearch ----------- */

div.dokuwiki div.ajax_qsearch {
  position: absolute;
  right: 237px;
  width: 200px;
  opacity: 0.9;
  display: none;
  font-size: 80%;
  line-height: 1.2em;
  border: 1px solid @bordercolour;
  background-color: @backgroundcolour3;
  text-align: left;
  padding: 4px;
}

/* --------- Toolbar -------------------- */
button.toolbutton {
 /*  background-color: #fff; */
  background-color: @bordercolour;
  padding: 0px;
  margin: 0 1px 0 0;
  border: 1px solid @bordercolour;
  cursor: pointer;
}

/* nice alphatransparency background except for IE <7 */
html>body button.toolbutton {
  background:  #fff url(images/buttonshadow.png) repeat-x bottom;
}

div.picker {
  width: 250px;
  border: 1px solid @bordercolour;
  background-color: @backgroundcolour4;
}

button.pickerbutton {
  padding: 0px;
  margin: 0 1px 1px 0;
  border: 0;
  background-color: transparent;
  font-size: 80%;
  cursor: pointer;
}

/* ---------------  Image Details  ----------------- */

div.dokuwiki div.img_big {
  float: left;
  margin-right: 0.5em;
}

div.dokuwiki dl.img_tags dt {
  font-weight: bold;
  background-color: @backgroundcolour4;
}
div.dokuwiki dl.img_tags dd {
  background-color: @backgroundcolour2;
}

div.dokuwiki div.imagemeta {
  color: @textcolour2;
  font-size: 70%;
  line-height: 95%;
}

div.dokuwiki div.imagemeta img.thumb {
  float:left;
  margin-right: 0.1em;
  background:  #fff url(images/buttonshadow.png) repeat-x bottom;
}

div.picker {
  width: 250px;
  border: 1px solid @bordercolour;
  background-color: @backgroundcolour4;
}

button.pickerbutton {
  padding: 0px;
  margin: 0 1px 1px 0;
  border: 0;
  background-color: transparent;
  font-size: 80%;
  cursor: pointer;
}

/* ---------------  Image Details  ----------------- */

div.dokuwiki div.img_big {
  float: left;
  margin-right: 0.5em;
}

div.dokuwiki dl.img_tags dt {
  font-weight: bold;
  background-color: @backgroundcolour4;
}
div.dokuwiki dl.img_tags dd {
  background-color: @backgroundcolour2;
}

div.dokuwiki div.imagemeta {
  color: @textcolour2;
  font-size: 70%;
  line-height: 95%;
}

div.dokuwiki div.imagemeta img.thumb {
  float:left;
  margin-right: 0.1em;
}

/* ---------------  Media Queries  ----------------- */


@media screen and (max-width: 700px) {

    /* general headline setup */
    div.dokuwiki h1,
    div.dokuwiki h2,
    div.dokuwiki h3,
    div.dokuwiki h4,
    div.dokuwiki h5 {
      clear: both;
    }

}